/.build
/.idea
/node_modules
/Website/node_modules
/Website/dist/docs
/Examples/HelloWorld/HelloWorld
.DS_Store
/.swiftpm
/Editor/intellij-aro/gradlew.bat
/Editor/intellij-aro/gradlew
/Editor/intellij-aro/gradle
/Editor/intellij-aro/build
/Editor/intellij-aro/.idea
/Editor/intellij-aro/.gradle
/Examples/Conditionals/Conditionals
/.aro-cache
/Examples/CustomPlugin/CustomPlugin
/Examples/ExternalService/ExternalService
/Examples/Expressions/Expressions
/Examples/DataPipeline/DataPipeline
/Examples/CustomPlugin/plugins/GreetingService.dylib
/Examples/ContextAware/ContextAware
/Examples/FileWatcher/FileWatcher
/Examples/HelloWorldAPI/HelloWorldAPI
/Examples/SimpleChat/SimpleChat
/Editor/intellij-aro/.intellijPlatform
/Editor/vscode-aro/aro-language-1.0.0.vsix
/Editor/vscode-aro/node_modules
/Editor/vscode-aro/out
/Examples/HTTPClient/HTTPClient
/Examples/DataPipeline/.idea
/Examples/Scoping/Scoping
/Examples/Iteration/Iteration
/Examples/HTTPServer/HTTPServer
.idea
/Examples/OrderService/OrderService
/Examples/ModulesExample/ModuleA/ModuleA
/Examples/ModulesExample/ModuleB/ModuleB
/Examples/ModulesExample/Combined/Combined
/Book/TheLanguageGuide/output
/Examples/Computations/Computations
/Examples/ZipService/ZipService
/Examples/ZipService/plugins/libZipPlugin.dylib
/Examples/DirectoryLister/DirectoryLister
/Examples/Calculator/Calculator
/Examples/ZipService/plugins/ZipPlugin/.build
/Examples/UserService/UserService
/Examples/SystemMonitor/SystemMonitor
/Examples/RepositoryObserver/RepositoryObserver
/demo-output
/Examples/Split/.build
/Examples/Split/Split
/Examples/DateTimeDemo/DateTimeDemo
/aro
/Examples/DirectoryReplicatorEvents/DirectoryReplicatorEvents
/Examples/CustomPlugin/.build
/Examples/CustomPlugin/.aro-cache
homebrew-aro/
